@model IEnumerable<MovilShopStock.Models.StockInModel>

@{
    ViewBag.Title = "Entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entradas</h2>

@if (User.IsInRole(RoleConstants.Editor) || User.IsInRole(RoleConstants.Administrator))
{
    <div class="pull-right btn-editions mt-2">
        <a class="btn btn-success btn-sm ml-lg-1" href="@Url.Action("Create")">Crear Entrada</a>
    </div>
}

<div class="pull-left btn-editions mt-2 mr-1">
    @Html.DropDownList("filter-datatable", new SelectList(ViewBag.Categories, "Item1", "Item2", ViewBag.Category), new { @class = "custom-select custom-select-sm form-control form-control-sm" })
</div>

<table id="data-table" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>
                Categoría
            </th>
            <th>
                Producto
            </th>
            <th>
                Fecha
            </th>
            <th>
                Usuario
            </th>
            <th>
                Precio Compra
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Compra Total
            </th>
            <th class="no-sort">
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section css{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/fh-3.1.6/r-2.2.3/sl-1.3.1/datatables.min.css" />

}

@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/fh-3.1.6/r-2.2.3/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#filter-datatable").change(function () {
                table.ajax.reload();
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?id=' + $(this).val();
                window.history.pushState({ path: newurl }, '', newurl);
            });

            var table = $("#data-table").DataTable({
                dom: "lBfrtip",
                buttons: [],
                responsive: 0,
                select: !0,
                fixedHeader: !0,
                ajax: {
                    "url": "/StockIn/Search",
                    "type": "POST",
                    "data": function (d) {
                        d.type = $("#filter-datatable").val()
                    }
                },
                "processing": true,
                "serverSide": true,
                columns: [

                    { data: 'Category' },
                    { data: 'ProductName' },
                    { data: 'Date' },
                    { data: 'User' },
                    { data: 'ShopPrice' },
                    { data: 'Quantity' },
                    { data: 'TotalShop' },
                    {
                        "render": function (data, type, JsonResultRow, meta) {
                            var actions = "";
                            if ('@(User.IsInRole(RoleConstants.Editor))'=='True' || '@(User.IsInRole(RoleConstants.Administrator))'=='True') {
                                actions+='<a class=\'btn btn-warning btn-sm\' href=\'/StockIn/Edit/'+JsonResultRow.DT_RowId+'\'>Editar</a><br />';
                            }
                            return actions;
                        }
                    }
                ],
                "rowCallback": function (row, data) {
                    /* mainView.contents.push(new dataModel(data));*/
                },
                "iDisplayLength": 25,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "select": {
                        "rows": "%d registros seleccionados"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                }],
                "order": [[2, "desc"]]
            });

        });
    </script>
}