@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salidas</h2>
@if (ViewBag.Msg != null)
{
    <div class="row justify-content-center">
        <div class="alert alert-primary" role="alert">
            @ViewBag.Msg
        </div>
    </div>
}

<div class="pull-right btn-editions mt-2">
    @if (RoleManager.IsInRole(RoleManager.Editor) || RoleManager.IsInRole(RoleManager.Administrator))
    {
        <a id="btn-option-receiver" class="btn btn-primary ml-lg-1 btn-sm" href="javascript:allreceiver();">Recibir Ventas</a>
    }
    <a class="btn btn-success btn-sm ml-lg-1" href="@Url.Action("Create")">Crear Salida</a>
</div>

<div class="pull-left btn-editions mt-2 mr-1">
    <select id="filter-datatable" class="custom-select custom-select-sm form-control form-control-sm">
        <option selected value="">Recibido Todos</option>
        <option value="1">Recibidos</option>
        <option value="2">No Recibidos</option>
    </select>
</div>

<table id="data-table" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>
                Categoría
            </th>
            <th>
                Producto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha
            </th>
            <th>
                Usuario
            </th>
            <th>
                Precio Venta
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Venta Total
            </th>
            <th>
                Ganancia
            </th>
            <th>
                Ganancia Total
            </th>
            <th>
                Recibido
            </th>
            <th class="no-sort">
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section css{

}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#filter-datatable").change(function () {
                table.ajax.reload();
            });

            allreceiver = function () {
                $('#btn-option-receiver').addClass("disabled");
                $.ajax({
                    type: 'POST',
                    data: {
                    },
                    url: "/StockOut/AllReceiver",
                    dataType: 'json',
                    success: function (data) {
                        table.ajax.reload();
                        $('#btn-option-receiver').removeClass("disabled");
                    }
                });
            };

            receiver = function (id) {
                $('#row-rec-' + id).addClass("disabled");

                $.ajax({
                    type: 'POST',
                    data: {
                        id: id
                    },
                    url: "/StockOut/Receiver",
                    dataType: 'json',
                    success: function (data) {
                        table.ajax.reload();
                    }
                });
            };

            var table = $("#data-table").DataTable({
                dom: "lBfrtip",
                buttons: [],
                responsive: 0,
                select: 0,
                fixedHeader: !0,
                ajax: {
                    "url": "/StockOut/Search",
                    "type": "POST",
                    "data": function (d) {
                        d.type = $("#filter-datatable").val()
                    }
                },
                "processing": true,
                "serverSide": true,
                columns: [
                    { data: 'Category' },
                    { data: 'ProductName' },
                    { data: 'Description' },
                    { data: 'Date' },
                    { data: 'User' },
                    { data: 'SalePrice' },
                    { data: 'Quantity' },
                    { data: 'TotalSale' },
                    { data: 'Gain' },
                    { data: 'TotalGain' },
                    { data: 'Receiver' },
                    {
                        "render": function (data, type, JsonResultRow, meta) {
                            var actions = "";
                            if (!JsonResultRow.Receivered) {
                                if ('@(RoleManager.IsInRole(RoleManager.Editor))'=='True' || '@(RoleManager.IsInRole(RoleManager.Administrator))'=='True') {
                                    actions += '<a id=\'row-rec-'+JsonResultRow.DT_RowId+'\' class=\'btn btn-primary btn-sm\' href=\'javascript:receiver("'+JsonResultRow.DT_RowId+'");\'>Recibir Venta</a><br /><br />';
                                }
                                actions+='<a class=\'btn btn-warning btn-sm\' href=\'/StockOut/Edit/'+JsonResultRow.DT_RowId+'\'>Editar</a><br />';
                            }
                            return actions;
                        }
                    }
                ],
                "rowCallback": function (row, data) {
                    if (!data.Receivered) {
                        $(row).addClass('pending-class');
                    }
                    /* mainView.contents.push(new dataModel(data));*/
                },
                "iDisplayLength": 25,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "select": {
                        "rows": "%d registros seleccionados"
                    }
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                }],
                "order": [[3, "desc"]]
            });

        });
    </script>
}