@{
    ViewBag.Title = "Olvido de Contraseña. Confirmación";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique su correo electrónico para reiniciar su contraseña.
    </p>
</div>