<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title text-center text-uppercase">Entradas vs Salidas (Diarias)</h4>
            </div>
            <div class="panel-body">
                <p>
                    El gráfico de línea muestra el comportamiento de las entradas y salidas durante los días del mes, permitiendo el análisis de estas dos áreas.
                </p>
                <div>
                    <canvas id="inout-chart-daily" data-render="chart-js"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title text-center text-uppercase">Entradas vs Salidas (Mensuales)</h4>
            </div>
            <div class="panel-body">
                <p>
                    El gráfico de línea muestra el comportamiento de las entradas y salidas durante los meses del año, permitiendo el análisis de estas dos áreas.
                </p>
                <div>
                    <canvas id="inout-chart-monthly" data-render="chart-js"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>